<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthentication" />
                <binding name="BasicHttpBinding_ITagWork" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50929/DatabaseManagerService.svc/Authentication"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthentication"
                contract="DatabaseManagerService.IAuthentication" name="BasicHttpBinding_IAuthentication" />
            <endpoint address="http://localhost:50929/DatabaseManagerService.svc/TagWork"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITagWork"
                contract="DatabaseManagerService.ITagWork" name="BasicHttpBinding_ITagWork" />
        </client>
    </system.serviceModel>
</configuration>